<html>
{% load staticfiles %}

  <head>

    <title>{% block title %}15-112 Puzzlehunt{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Loading CSS libraries -->
    <link href="{% static 'css/libs/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    {% block css %}{% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid nav-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand white-text" href="/">15-112 Puzzle Hunt</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="white-text" href="#">Puzzles</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="white-text" href="/register">Register</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block body %}{% endblock %}

    <!-- Loading Javascript libraries -->
    <script src="{% static 'js/libs/jquery.js' %}"></script>
    <script src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>

    {% block js %}{% endblock %}
  </body>

</html>