{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/puzzles.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="row">
            {% for puzzle in puzzles %}
                <a href="/puzzles/{{ puzzle.number }}">
                    <div class="col-md-4 col-sm-6 col-xs-12 vert-align tile-col">
                        <div class="puzzletile" style="background-image: url({{ puzzle.image_link }}); background-size: cover;">
                            <div class="tile-title">{{ puzzle.name }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock  %}
