{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/fence.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="title-text">
        All Mixed Up!
    </div>
    <div class="flavor-text">
        <p>
            As you may know, 112 is a course full of tradition. You’ve already been exposed to some of our more famous ones, including the challenges of Tetris and SolveABC. Of course, without being on staff, you only get to experience a small portion of our 112 traditions. One of the staff’s more famous traditions happens around term project season; before fully embarking on the term project journey with their students, all of the CAs will band together and take the Fence.
        </p>
        <p>
            However, this semester something went a bit wrong. Last night, the CAs had a marathon midterm grading session, given nothing to eat but Caesar salad, made by Professor Kosbie himself. It seemed as though every time the giant salad bowl would empty, it would be refilled at the speed of 112 (which is to say, very quickly). Throughout the night, Professor Kosbie helped keep spirits up with the endless Caesar salad, and the CAs were able to finish in record time.
        </p>
        <p>
            In order to both celebrate their achievement and complete a tradition most sacred, the CAs then all gathered to paint their names onto the Fence. As they organized themselves, a few of the CAs felt that there was an unusually eerie feeling in the air; nevertheless, they continued with the plan. The CAs were to paint their names onto the Fence in a particular, heavily guarded, secret order. At the stroke of midnight, the first drop of paint hit the Fence, and again, the CAs were done in record time. After a little cleanup, the CAs went home for a well-deserved full night of sleep, so that they could completely reenergized before the epic Puzzle Hunt.
        </p>
        <p>
            The next morning, the CAs all reported back to the Fence for a quick meeting; however, some had gone horribly wrong. They all seemed to think that the Fence was painted slightly incorrectly; most of the names seemed to be in the right order, but none of the CAs were able to pick out the seemingly subtle few errors. In an attempt to figure out which of the CAs might be in the wrong order, they collectively tried to piece together the events of the night before; yet, for some reason, no one was able to recall the events of the night before.
        </p>
        <p>
            We can only assume that this is a result of eating too much of the Caesar salad; it seems as though Professor Kosbie’s salad, though delicious, really got the best of the CAs. Even after much effort, none of the CAs were able to remember the extremely secret ordering used to paint the fence.
        </p>
        <p>
            Can you help the CAs figure out who is out of order? Lettuce know as soon as possible! This blunder cannot be allowed to persist, or else we will have squashed one of 112’s most hallowed traditions.
        </p>
        <p>
            P. S. When asked, all anyone was able to say about the Fence was the same nonsense string:
        </p>
        <div class="caesar">
            <p>
                "caesar ydta trv rtalhs puevfgvar anpwfr sgd slvu fkod zmcqdvhc "
            </p>
        </div>
    </div>

</div>



{% endblock  %}
